
<h1>Order Food</h1>

<%= form_with(model: @food, local: true) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :image %>
  <%= form.text_field :image %>

  <%= form.label :price %>
  <%= form.number_field :price %>

  <%= form.submit %>
<% end %>