<%= form_with(model: @food) do |form| %>
 
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

   <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

   <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

    <div>
      <%= form.label :price, style: "display: block" %>
      <%= form.text_field :price %>
    </div>





  <div>
    <%= form.submit %>
  </div>
<% end %>